.hide{
    display:none;
}

.container{
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
    max-width: 50%;
    margin: 100px auto 0 auto;
    padding: 2cm;
}

button{
    color: azure;
    background-color: rgb(25,0 , 255);
    margin: 10px;
    cursor: grab;
    border-radius: 25px;
    font-family:'Times New Roman', Times, serif;
    font-weight:400;
    font-size: large;
    min-height: 50px;
}
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;}

body {
    background-image: url(../images/bird-g938973d51_1920.jpg);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
    }

